* { margin: 0; padding: 0; }
html , body { width:100%; height:100%; }
canvas { display: block; }

.container {
  position: relative;
}

.overlay {
  background-color: transparent;
  color: #fff;
  left: 0px;
  pointer-events:none;
  position: absolute;
  top: 0px;
  z-index: 1;
}
